<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>簽到表</title>

    <!-- Bootstrap Core CSS -->
    <link href={% static "css/bootstrap.min.css" %} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={% static "css/main.css" %} rel="stylesheet">

    <!-- Custom Fonts -->
    <link href={% static "font-awesome/css/font-awesome.min.css" %} rel="stylesheet" type="text/css">


</head>

<body>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Winner is?</h1>
            <h3>Information Management 32nd</h3>
        
            
            <center>
        <img src={% static member.member_img %}>
        <br/>
        <br/>
        <br/>

        
        <h1>{{member.name}}</h1>
        <br/>
       
        <a href="/school/result/"><button  class="btn btn-dark btn-lg" >回去抽獎</button></a>
                           
                        </center>
        </div>
    </header>

    

   
    


    <!-- jQuery -->
    <script src="{%static 'js/jquery.js' %}"></script>
    <script type='text/javascript' src="{% static 'ajax.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{%static 'js/bootstrap.min.js' %}"></script>


    <!-- Custom Theme JavaScript -->
    <script src="{%static 'js/signin.js' %}"></script>

</body>

</html>
