<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>簽到表</title>

    <!-- Bootstrap Core CSS -->
    <link href={% static "css/bootstrap.min.css" %} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={% static "css/main.css" %} rel="stylesheet">

    <!-- Custom Fonts -->
    <link href={% static "font-awesome/css/font-awesome.min.css" %} rel="stylesheet" type="text/css">



</head>

<body>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Graduation Dinner</h1>
            <h3>Information Management 32nd</h3>
        
            <a href="#Identity" class="btn btn-dark btn-lg">Sign In</a>
        </br>
        </br>
        </br>
        </br>
            <!-- <a  href="/school/result/" class="btn btn-dark btn-lg">???</a> -->
        </div>
    </header>

    <!-- Identity -->
    <section id="Identity" class="identity">
        <div class="container">
            <div class="row">
                <h3 class="h3_chg">Choose Your ID.</h3>

                    <div class="id_btn col-md-3 col-md-push-2"  id="s1" data-status=1 >
                        <img src={%static "img/icon_student.png"%} >
                        <h2>Student</h2>
                    </div>
                    <div class="id_btn col-md-3 col-md-push-4"  id="s1" data-status=2>
                        <img src={%static "img/icon_teacher.png" %} >
                        <h2>Professor</h2>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        
        <!-- /.container -->
    </section>


    <!-- Data -->
    <section id="Data" class="identity">
        <div class="container">
            <div class="row">
                <h2>{{name}}</h2>
                <form class="form" method="post" action="/login/" id="form_member">{% csrf_token %}
                <h3 class="h3_chg">Enter Your Name.</h3>
                
                    <input class="col-md-6 col-md-push-2 inputtext" type="text" placeholder="my name is..." name="member_name">
                    <a  type="submit" class="btn btn-light btn-lg btn_submit" id="submit_member">Sign In</a>
                     <a href="#TableSeat" class="btn btn-light btn-lg btn_submit">Check Your Seat</a>
                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Table座位表 -->
    <section id="TableSeat" class="tableSeat">
        <div class="container">
            <div class="row">
                <h3 class="h3_chg">Take a Seat.</h3>
                    <table class="table table-hover">
                        <thead class="">
                            <tr>
                              <th>Table</th>
                              <th>Professor</th>
                              <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>蔡明志</td>
                                <td>劉曜宇 葉德緯 李彥欣 陳彥煊 徐昱鈞 林虹妤 賴玟君 林佳萱 龔俐安</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>劉富容</td>
                                <td>賴泰元 鄭羽廷 黃晧茹 蘇珊 許敬佳 喻詩庭 </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>吳怡瑾</td>
                                <td>何宇屏 陳怡安 許安廷 王振偉 蔡宇軒 林雨生 邵尉夫 胡嘉耀 周以騏 林立婷 李彥靜</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>胡筱薇</td>
                                <td>廖郁心 梁瑀 陳耕霈 林志憲 高健盛 阮文慶 柯采宜 黃登俊 張家瑋 黃書秦</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>吳濟聰 林文修</td>
                                <td>林翰陽 王笠言 沈旭璋 卓柏漢 廖品全</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>蔡幸蓁 盧浩鈞</td>
                                <td>莊祿趯 周柏廷 陳悅文 陳亭羽 陳耀奇 徐翊婷 廖文翎 莊慶玲 蕭琪霖 王榆翔 文怡評</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>葉宏謨</td>
                                <td>江泓均 游正一 鄭翔勻 張汶蓉 張程翔 張淳閔 林彥宇 許嘉恩 王泰傑</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>圓圓 玗君</td>
                                <td>葉昱翔 張筱彤 何宜軒 王郁雯 辜思婕 賴又銘 方宏元</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#Checkin" type="submit" class="btn btn-light btn-lg btn_check">Check Your Sign In</a>
                </br>
                    <a href="#top" class="btn btn-light btn-lg btn_check">Back to Sign In</a>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <div id="list">
    {% include "list.html" %}
</div>
    


    <!-- jQuery -->
    <script src="{%static 'js/jquery.js' %}"></script>
    <script type='text/javascript' src="{% static 'ajax.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{%static 'js/bootstrap.min.js' %}"></script>


    <!-- Custom Theme JavaScript -->
    <script src="{%static 'js/signin.js' %}"></script>

</body>

</html>
