<!-- Checkin -->
    <section id="Checkin" class="checkin">

        <div class="container">
            <div class="row">
                <h3 class="h3_chg">Who is Here ?{{ss}}</h3>
                <div class="col-md-6">
                    <h3>Student</h3>
                    <table class="table table-hover">
                        <thead class="">
                            <tr> 
                              <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            {% for  i in list_student %}
                              <td id ="delete_member" data-name="{{i.name}}">{{i.name}}</td>
                              
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h3>professor</h3>
                    <table class="table table-hover">
                        <thead class="">
                            <tr>
                               
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            {% for k in list_professor%}
                                <td id ="delete_member"  data-name="{{k.name}}">{{k.name}}</td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>