<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LOADING</title>
	<!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/loading.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="canvas">
    <div class="group">
        <div class="dot dot--aqua"><div></div></div>
        <div class="dot dot--aqua"><div></div></div>
        <div class="dot dot--aqua"><div></div></div>
        <div class="dot dot--aqua"><div></div></div>
        <div class="dot dot--aqua"><div></div></div>
        <div class="dot dot--aqua"><div></div></div>
        <div class="dot dot--aqua"><div></div></div>
        <div class="dot dot--aqua"><div></div></div>
        <div class="dot dot--aqua"><div></div></div>
        <div class="dot dot--aqua"><div></div></div>
        <div class="dot dot--aqua"><div></div></div>
        <div class="dot dot--aqua"><div></div></div>
    </div>
    <div class="group">
        <div class="dot dot--gold"><div></div></div>
        <div class="dot dot--gold"><div></div></div>
        <div class="dot dot--gold"><div></div></div>
        <div class="dot dot--gold"><div></div></div>
        <div class="dot dot--gold"><div></div></div>
        <div class="dot dot--gold"><div></div></div>
        <div class="dot dot--gold"><div></div></div>
        <div class="dot dot--gold"><div></div></div>
        <div class="dot dot--gold"><div></div></div>
        <div class="dot dot--gold"><div></div></div>
        <div class="dot dot--gold"><div></div></div>
        <div class="dot dot--gold"><div></div></div>
    </div>
    <div class="group">
        <div class="dot dot--tomato"><div></div></div>
        <div class="dot dot--tomato"><div></div></div>
        <div class="dot dot--tomato"><div></div></div>
        <div class="dot dot--tomato"><div></div></div>
        <div class="dot dot--tomato"><div></div></div>
        <div class="dot dot--tomato"><div></div></div>
        <div class="dot dot--tomato"><div></div></div>
        <div class="dot dot--tomato"><div></div></div>
        <div class="dot dot--tomato"><div></div></div>
        <div class="dot dot--tomato"><div></div></div>
        <div class="dot dot--tomato"><div></div></div>
        <div class="dot dot--tomato"><div></div></div>
    </div>
</div>
 <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>