/*==========*/
/*index.html*/
/*==========*/
html,
body {
    width: 100%;
    height: 100%;
    background: #121619;
}
section{
    width: 100%;
    height: 100%;
}
body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1,h2,h3{
    color: #f5f5f5;
    font-family:  'Lato', sans-serif;
    text-align: center;
    letter-spacing: 1px;
}
.h3_chg{
    margin: 5% 0 10% 0;
    text-align: left;
    letter-spacing: 1px;
}
form{
    margin-top: 5%;
    text-align: center;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    letter-spacing: 1px;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-red {
    border-radius: 0;
    color: #fff;
    background-color: #DA1D1B;
    letter-spacing: 1px;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active {
    color: #fff;
    background-color: #BA2D0B;
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
    letter-spacing: 1px;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Header */

.header {
    color: #f5f5f5;
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Identity */

.identity {
    padding: 50px 0;
}
.select_id a{
    display:inline-block;
}
.id_btn{
    border-radius: 99em;
    cursor: pointer;
}
.id_btn img{
    width: 100%;
    height: 100%;
}
.id_btn img:hover{
    opacity: 0.4;
    
}

/* Services */
input {
  padding: .25rem 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: #fff;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: .125rem;
  /*-webkit-transition: all 0.5s cubic-bezier(0.4, 0.25, 0.8, 0.3);
  transition: all 0.5s cubic-bezier(0.4, 0.25, 0.8, 0.3);*/
}
.inputtext {
    border-bottom: 1px solid #bb1515;
}
.btn_submit{
    cursor: pointer;
    margin: 100px 0 0 50px;
}
.btn_check{
    cursor: pointer;
    margin: 50px 0 0 500px;
}

/* Checkin */
table{
    color: #f5f5f5;
    letter-spacing: 2px;
}
table th{
    background: #FFDD4A;
    color: #555555;
}
table tr:hover{
    color: #555555;
    cursor: pointer;
}
.checkin th, .checkin td{
    text-align: center;
}


/*================*/
/*giveMeGifts.html*/
/*================*/
.btn_song{
    width: 100%;
    margin-top:5%;
    cursor: pointer; 
}
.men{
    text-align: center;
    margin-top: 5%;
    /*display: none;*/
}
.photo_circle{
    width: 400px;
    height: 400px;
    border-radius: 200px;
    display: inline-block;
    margin: 0 auto;
}
.photo_circle:hover{
    cursor: pointer;
    opacity: .7;
}
.photo{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.men_Name{
    margin-top:5%; 
}
.men_Name:hover{
    opacity: 0.7;
    cursor: pointer;
}
.span_name{
    font-size: 100px;
    color: #333;
    padding: 10px 80px;
    background-color: rgb(255,255,255);
    letter-spacing: 20px;
}

