{% load staticfiles %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner">

				<!-- slideshow start -->
				<!-- ================ -->
				<div class="slideshow white-bg">
					
					<!-- slider revolution start -->
					<!-- ================ -->
					<div class="slider-banner-container">
						<div class="slider-banner-2 bullets-with-bg">
							<ul>
								{% for img in img %}

								<!-- slide 1 start -->
								<li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on" data-title="Slide 1">
								
								<!-- main image -->
								<img src={% static img.pwd %}  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

								<!-- Translucent background -->
								<div class="tp-caption dark-translucent-bg"
									data-x="center"
									data-y="bottom"
									data-speed="800"
									data-start="0"
									style="background-color:rgba(0,0,0,0.5);">
								</div>

								<!-- LAYER NR. 1 -->
								<div class="tp-caption very_large_text sfl tp-resizeme"
									data-x="center"
									data-y="70" 
									data-speed="600"
									data-start="0"
									data-end="10000"
									data-endspeed="600"
									>{{img.title}}
								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption small_thin_white sfr text-center tp-resizeme"
									data-x="center"
									data-y="170" 
									data-speed="600"
									data-start="0"
									data-end="10000"
									data-endspeed="600"
									word-wrap:break-word>{{img.article}}
								</div>

								<!-- LAYER NR. 3 -->
								

								</li>
								{% endfor %}
								<!-- slide 1 end -->

								
								
							</ul>
						</div>
					</div>
					<!-- slider revolution end -->

				</div>
				<!-- slideshow end -->

			</div>
			<!-- banner end -->