{% load staticfiles %}
<!DOCTYPE html>


<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
	<head>
		{% include "quote.html" %}
		<script type='text/javascript' src="{% static 'js/member_main.js' %}"></script>
		<title>電影與精神心理健康 | 測驗</title>
		
	</head>
{{x}}
	<!-- body classes: 
			"boxed": boxed layout mode e.g. <body class="boxed">
			"pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> 
	-->

	<body class="front no-trans">
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- page wrapper start -->
		<!-- ================ -->
		<div class="page-wrapper">

		
			{% include "banner.html"%}



			<!-- page-top start-->
			<!-- ================ -->
			<div class="page-top object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="text-center title">QUESTION: </h1>
							<h5 class="text-center title"><font color="#ABABAB">{{ request.session.kk }} / 30 </font></h5>

							<div class="separator"></div> 
							<h3 class="text-center title">{{question.article}}</h3>
							<p class="text-center"></p>
							<form id="answer_form">
							<center>
								<div class="radio">
									<label>
										<input type="radio" name="answer" id="optionsRadios1" value="0" checked="">
										不會/佳
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="answer" id="optionsRadios2" value="1">
										普通/中
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="answer" id="optionsRadios3" value="2">
										嚴重/差
									</label>
								</div>
							</center>
						</form>
						<center>
							<button  class="btn btn-group btn-default btn-sm" id="check_submit">送出</button>
						</center>
						<br>
						<br>
						<br>
						<center>
							<a href="/noreen/out/">
								<button  class="btn btn-group btn-default btn-sm" >離開</button>
							</a>
						</center>
						<br>
						<br>

							
							
						</div>
					</div>
				</div>
			</div>
			<!-- page-top end -->

			
			

			

		</div>
		<!-- page-wrapper end -->

		

	</body>
</html>
